<<<<<<< HEAD
<%- include('static/header') -%>

<div class="home">
    <img src="<%= imgsrc %>/main-bg.png" alt="" class="home__bg">
    <div class="home__container">

        <%- include('static/menu') -%>
        
        <div class="home__logo">
            <img src="<%= imgsrc %>/boton-game-of-logo.png" alt="">
        </div>
        <div class="home__join">
            <img src="<%= imgsrc %>/boton-game-of.png" alt="">
        </div>
        <!-- <div class="home__login">
            <img src="<%= imgsrc %>/boton-game-of.png" alt="">
        </div> -->
        <div class="form__bg d-none">
            <div class="home__form">
                <img class="form__close" src="<%= imgsrc %>/close.png" alt="form__close">
                <img class="form__container" src="<%= imgsrc %>/marco-form.png" alt="form__container">
                <div class="form__group">
                    <input id="nombre_Apellido" type="text" placeholder="Nombre y apellido" class="form__input input_text">
                    <input id="email" type="email" placeholder="Correo eletronico" class="form__input input_text">
                    <input id="password" type="password" placeholder="Contraseña" class="form__input input_text">
                    <input id="number" type="number" placeholder="Edad" class="form__input input_text">
                    <div class="form__options">
                        <div class="form__control">
                            <input id="terminos" type="checkbox" id="terminos" class="form__input inputtext">
                            <label for="terminos">Aceptar terminos y condiciones</label>
                        </div>
                        <div id="generos" class="form__control form__radios">
                            <div class="radio">
                                <label for="M">M</label>
                                <input type="radio" id="M" value="M" name="genero" class="form__input">
                            </div>
                            <div class="radio">
                                <label for="F">F</label>
                                <input type="radio" id="F" value="F" name="genero" class="form__input">
                            </div>
                        </div>
                    </div>
                </div>
                <img class="form__button" src="<%= imgsrc %>/form-btn.png" alt="">
            </div>
        </div>

        <div class="form__login d-none">
            <div class="home__form">
                <img class="form__close" src="<%= imgsrc %>/close.png" alt="form__close">
                <img class="form__container" src="<%= imgsrc %>/marco-form.png" alt="form__container">
                <div class="form__group">
                    <input id="emailLog" type="text" placeholder="Correo electr&oacute;nico" class="form__input input_text">
                    <input id="passwordLog" type="password" placeholder="Contraseña" class="form__input input_text">
                </div>
                <img class="form__button_Log" src="<%= imgsrc %>/form-btn.png" alt="">
            </div>
        </div>

        <div class="home__video">
            <img class="video__close d-none" src="<%= imgsrc %>/close.png" alt="form__close">
            <img class="video__container" src="<%= imgsrc %>/video-container.png" alt="">
            <img class="video__video" src="<%= imgsrc %>/video-img.png" alt="">
        </div>
    </div>
</div>

<div class="modes">
    <img src="<%= imgsrc %>/second-bg.png" alt="" class="modes__bg">
    <div class="modes__history">
        <img src="<%= imgsrc %>/history-mode-bg.png" alt="" class="history__bg">
        <img src="<%= imgsrc %>/h-mode-title.png" alt="" class="history__title">
        <div class="modes-toplay">
            <a href="/lobby" class="mode unlocked">
                <img src="<%= imgsrc %>/recluta.png" alt="" class="mode__img">
            </a>
            <div class="mode lock">
                <img src="<%= imgsrc %>/guerrero.png" alt="" class="mode__img">
            </div>
            <div class="mode lock">
                <img src="<%= imgsrc %>/legionario.png" alt="" class="mode__img">
            </div>
        </div>
        <img src="<%= imgsrc %>/rangos-text.png" alt="" class="history__text">
    </div>
    <div class="modes__other">
        <div class="other__space">
            <img src="<%= imgsrc %>/other.png" alt="other__bg" class="other__bg">
            <img src="<%= imgsrc %>/medal_icon.png" alt="other__icon" class="other__icon">
            <img src="<%= imgsrc %>/medallas.png" alt="other__text" class="other__text">
        </div>
        <div class="other__space">
            <img src="<%= imgsrc %>/other.png" alt="other__bg" class="other__bg">
            <a href="./?view=world">
                <img src="<%= imgsrc %>/mundo1.png" alt="other__icon" class="other__icon">
            </a>
            <img src="<%= imgsrc %>/mundos.png" alt="other__text" class="other__text">
        </div>
    </div>
    <div class="online">
        <img src="<%= imgsrc %>/reina-trono.png" alt="queen" class="queen">
        <img src="<%= imgsrc %>/batalla-en-linea.png" alt="batalla-en-linea" class="battle-text">
    </div>
</div>

<script src="/gok-assets/js/home.js"></script>

<%- include('static/footer') -%>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    index page
</body>
</html>
>>>>>>> 9ab29e5bb1e6cfd1bffbebda86da35c7cfdd785a
