<%- include('static/header') -%>

<div class="medals">

    <%- include('static/menu') -%>

    <div class="lobby__header">
        <img class="header__bg" src="<%= imgsrc %>/lobby/header.png" alt="">


        <div class="home__logo">
            <img src="<%= imgsrc %>/boton-game-of-logo.png" alt="">
        </div>
        <div class="lobby__text">
            <img src="<%= imgsrc %>/medals/header-medals.png" alt="">
        </div>
    </div>
    <div class="medals__main">
        <img src="<%= imgsrc %>/second-bg.png" class="lobby__main_bg" alt="">
        <img src="<%= imgsrc %>/lobby/f1.png" class="lobby__main_mask" alt="">

        <img src="<%= imgsrc %>/medals/aces-bg.png" class="lobby__ground_mask" alt="">

        <div class="medals__list">
            <div class="medals__space">
                <img src="<%= imgsrc %>/medals/01.Medalla_Ases.png" class="space__bg">
            </div>
            <div class="medals__space">
                <img src="<%= imgsrc %>/medals/02.Medalla_Trebol.png" class="space__bg">
            </div>
            <div class="medals__space">
                <img src="<%= imgsrc %>/medals/03.Medalla_Corazon.png" class="space__bg">
            </div>
            <div class="medals__space">
                <img src="<%= imgsrc %>/medals/04.Medalla_Diamante.png" class="space__bg">
            </div>
            <div class="medals__space">
                <img src="<%= imgsrc %>/medals/05.Medalla_Espada.png" class="space__bg">
            </div>
            <div class="medals__space">
                <img src="<%= imgsrc %>/medals/06.Medalla_Anima.png" class="space__bg">
            </div>
        </div>
        <div class="medals__info">
            <div class="info__body">
                <img class="form__container" src="<%= imgsrc %>/marco-form.png" alt="form__container">
                <div class="info__title aces">Medalla Aces</div>
                <img src="<%= imgsrc %>/medals/01.Medalla_Ases.png" alt="" class="info__img">
                <div class="info__info">
                    Se le otorgara la medalla de <span class="aces">ACES</span> cuando logres obtener articulo del casco y el sentimiento de la alegría del guerrero, recuerda que deberás desbloquear la tierra de <span class='world-color'>Docco</span> y obtener habilidad al <span class='level-color'>nivel 2.</span>
                </div>
            </div>
            <div class="info__body d-none">
                <img class="form__container" src="<%= imgsrc %>/marco-form.png" alt="form__container">
                <div class="info__title trebol">Medalla Trebol</div>
                <img src="<%= imgsrc %>/medals/02.Medalla_Trebol.png" alt="" class="info__img">
                <div class="info__info">
                    Se le otorgara la medalla de <span class="trebol">TREBOL</span> cuando logres obtener articulo del guarda brazo, el codal, guantelete y la virtud de la responsabilidad del guerrero, recuerda que deberás desbloquear la tierra de <span class='world-color'>Idgar</span> y obtener habilidad al <span class='level-color'>nivel 5.</span>
                </div>
            </div>
            <div class="info__body d-none">
                <img class="form__container" src="<%= imgsrc %>/marco-form.png" alt="form__container">
                <div class="info__title corazon">Medalla Corazón</div>
                <img src="<%= imgsrc %>/medals/03.Medalla_Corazon.png" alt="" class="info__img">
                <div class="info__info">
                    Se le otorgara la medalla de <span class="corazon">CORAZÓN</span> cuando logres obtener articulo del guarda brazo y la virtud de la amorevolleza del guerrero, recuerda que deberás desbloquear la tierra de <span class='world-color'>Artemis</span> y obtener habilidad al <span class='level-color'>nivel 9.</span>
                </div>
            </div>
            <div class="info__body d-none">
                <img class="form__container" src="<%= imgsrc %>/marco-form.png" alt="form__container">
                <div class="info__title diamante">Medalla Diamante</div>
                <img src="<%= imgsrc %>/medals/04.Medalla_Diamante.png" alt="" class="info__img">
                <div class="info__info">
                    Se le otorgara la medalla de <span class="diamante">DIAMANTE</span> cuando logres obtener articulo del quijote y la greba y la virtud de la templanza del guerrero, recuerda que deberás desbloquear la tierra del <span class='world-color'>Jaguar</span> y obtener habilidad al <span class='level-color'>nivel 12.</span>
                </div>
            </div>
            <div class="info__body d-none">
                <img class="form__container" src="<%= imgsrc %>/marco-form.png" alt="form__container">
                <div class="info__title espada">Medalla Espada</div>
                <img src="<%= imgsrc %>/medals/05.Medalla_Espada.png" alt="" class="info__img">
                <div class="info__info">
                    Se le otorgara la medalla de <span class="espada">ESPADA</span> cuando logres obtener articulo del Escarpe y la virtud de la sabiduría del guerrero, recuerda que deberás desbloquear la tierra del <span class='world-color'>Udya</span> y obtener habilidad al <span class='level-color'>nivel 15.</span>
                </div>
            </div>
            <div class="info__body d-none">
                <img class="form__container" src="<%= imgsrc %>/marco-form.png" alt="form__container">
                <div class="info__title anima">Medalla Anima</div>
                <img src="<%= imgsrc %>/medals/06.Medalla_Anima.png" alt="" class="info__img">
                <div class="info__info" style="font-size: 1.2em;">
                    Se le otorgara la medalla de <span class="anima">ANIMA</span> cuando logres obtener articulo del Peto y la Fé del guerrero, recuerda que deberás desbloquear la tierra de <span class='world-color'>Cnosos</span> y obtener habilidad al nivel 17, luego deberás llegar al nivel 20 y tendrás a la <span class='world-color'>Fortaleza negra</span> para finalizar la historia del juego, finalmente obtengas una partida de bonus extra llamada <span class='world-color'>Runas.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/gok-assets/js/medals.js"></script>

<%- include('static/footer') -%>
